@charset "UTF-8";
/* =========================================
   Common CSS 
/*---------------------------------------------
    Design（視覚プロパティ）
----------------------------------------------*/

:root {

    /*----- Fonts -----*/
    /*fontfamily*/
    --font-family-base: 'Noto Sans JP', Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

    /*fontsize*/
    --font-sz-main-title: 2rem;
    --font-sz-main-subTitle: 1.25rem;

    /*fontweight*/
    --font-wt-main-title: bold;
    --font-wt-main-subTitle: 500;
    --font-wt-bodyBase: 500;
    




    /*----- Colors-------- */
    --color-bg-body: #FCFBF7;
    --color-bg-glNav: #E1E3DD;
    --color-font-bodyBase: #222;
   
   
    
    
    
   
    
    
   
    
    
   
   
  


    
  
}
body[data-design="body"] {
    font-family: var(--font-family-base);
    background: var(--color-bg-body);
    color: var(--color-font-bodyBase);
    font-weight: var(--font-wt-bodyBase);
}

[data-frame="li-btn"] {
    background-color: var(--color-bg-glNav);
}


/* --------------------------------------
    Frame（Component / Box）
------------------------------------------ */
:root {
    /* Button */
    --btn-padding-inline: 8px;
    --btn-padding-block: 4px;

    /*width&height*/
    --minheight-main: 90vh;
    --base-width-frame: 100%;
}

[data-frame="header"] {
    width: var(--base-width-frame);
}
[data-frame="li-btn"] {
    padding: var(--btn-padding-block) var(--btn-padding-inline);
}


[data-frame="main"] {
    width: var(--base-width-frame);
    min-height: var(--minheight-main);
}


[data-frame="bottom-wrapper"] {
    height: clamp(60px, 10vh, 120px);
    width: var(--base-width-frame);
}



/*------------------------------------
    layout
--------------------------------------*/
:root {
    --flexchild-flexBase-left: 240px;
    --flexchild-right: 1;
    
}
/*flex共通*/
[data-flexChild="left"] {
    flex: 0 0 var(--flexchild-flexBase-left);
}
[data-flexChild="right"] {
    flex: var(--flexchild-right);
    min-width: 0;
}
/*header*/
header[data-flex="header"] {
    display: flex;
    align-items: center;
    
}
/*footer*/
.bottom-wrapper[data-flex="bottom-wrapper"] {
    display: flex;
    align-items: center;
    
}

/*header global-nav*/
.global-ul[data-flex="header-ul"] {
    display: flex;
    justify-content: center;
}
/*main*/
main[data-flex="main"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-area[data-flex="main-area"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*------------------------------------
    Space（余白）
--------------------------------------*/
:root {
    
    --space-gap-gl-nav: 2.5rem;
    --space-padding-l-header: 1rem;
    --space-padding-l-footer: 1rem;
    --space-margin-block-header: 1.25rem;
    --space-main-spacing: 30px;
}
[data-padding="header-l"] {
    padding-left: var(--space-padding-l-header);
}
[data-padding="footer-l"] {
    padding-left: var(--space-padding-l-footer);
}
[data-space="main-spacing"] {
    margin-bottom: var(--space-main-spacing);
}
[data-margin="header-margin-block"] {
    margin-block: var(--space-margin-block-header);
}

[data-gap="gl-nav-gap"] {
    gap: var(--space-gap-gl-nav);
} 
/*------------------------------------
    status
--------------------------------------*/
button:active,
.global-ul li a:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.384);
  background: rgba(0, 0, 0, 0.158);
}
.global-ul .is-current {
  background: #c6d0d6;
}

/*---------------------------------------------
    Position（配置）
----------------------------------------------*/
[data-fixed="bottom-wrapper"] {
    position: fixed;
    bottom: 0;
    left: 0;
}
/* =========================================
        spレスポンシブ
========================================= */
@media (max-width: 810px) {

    /* -------------------------------------
        Frame（Component / Box）
    ----------------------------------------- */

    /*------------------------------------
        layout
    --------------------------------------*/
        :root {
            --flexchild-flexBase-left: 120px;
        }
        header[data-flex="header"] {
        display: flex;
        flex-direction: column;
        
    }
        [data-flexChild="left"] {
        flex: 0 0 var(--flexchild-flexBase-left);
    }

    /*-----------------------------
        Space（余白）
    --------------------------------------*/
    :root {
        --space-padding-l-header: 0;
        --space-gap-gl-nav:8px;
    }
        [data-padding="header-l"] {
        padding-left: var(--space-padding-l-header);
    }
        [data-gap="gl-nav-gap"] {
        gap: var(--space-gap-gl-nav);
    } 
    /*---------------------------------------------
        Position（配置）
    ----------------------------------------------*/

}

